<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
</h:head>
<h:body>	
	<!--Mensaje de alerta -->
	<p:growl id="growl" showDetail="true" sticky="true" autoUpdate="true"/>
	  
	<h:form>
    <p:panel id="panel" header="Login" style="margin-bottom:10px;">
        <h:panelGrid columns="2" cellpadding="10">
            <h:outputLabel for="name" value="Usuario:" />
            <p:inputText id="name" required="true" value="#{loginBean.usuario}"/>
 
            <p:outputLabel for="contrasenia" value="Contraseña:" />
            <p:password id="contrasenia" required="true" value="#{loginBean.contrasenia}" />
        </h:panelGrid>
    </p:panel>
 
    <p:commandButton value="Ingresar" update="panel" action="#{loginBean.mostrar}"  />
    
</h:form>

</h:body>
</html>